body{
  background-image: url("bh.jpg");
  background-size: 1376px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
  margin-left: 100px;
  margin-right: 100px;
  min-width: 900px;
	max-width: 1200px;
  font-family: Verdana, Times New Roman, Sans-Serif;
}
div {
  background-color: grey;
}
