{% extends "base.html" %}
{% block content %}
  Hello sir, and welcome to our magnificent factory, where we tinker the best art out there!
<iframe width="560" height="315" src="https://www.youtube.com/embed/GN4HPeQi6lc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <div id = "morenews">

    <button type="button" onclick="loadDoc()"> Change content</button>
  </div>

  <script>
  function loadDoc(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status ==200) {
        document.getElementById("morenews").innerHTML = this.responseText;

      }
    };
    xhttp.open("GET", "/newposts",true);
    xhttp.send();
  }
  </script>
{% endblock %}
